## Project 4 - Hackathon
# EDA and Cleaning

#### Table of Contents
 - [Import for Cleaning](#Import-for-Cleaning)
   - [Temperature data](#Temperature-data)
   - [Electricity consumption (2001 - 2011)](#Electricity-consumption-(2001-2011))
 - [Clean up 2001-2006](#Clean-up-2001-2006)
 - [Clean up 2007-2011](#Clean-up-2007-2011)
 - [Export Clean Data](#Export-Clean-Data)

## Import for Cleaning
[(back to top)](#EDA-and-Cleaning)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Temperature data
#### may not use it , but it is here
[(back to top)](#EDA-and-Cleaning)

In [3]:
temp = pd.read_csv('../data/gloabl_temp/GlobalLandTemperaturesByState.csv', parse_dates=True, index_col='dt')
temp = temp[temp['Country']=='United States']

In [4]:
temp = temp[temp.index.year > 2000]

## Electricity consumption (2001-2011)
#### by Year, Month, State, Energy Source, etc.

[(back to top)](#EDA-and-Cleaning)

In [5]:
import warnings
warnings.simplefilter('ignore')

In [6]:
xlsx_file = '../data/monthly_electric/consumption_monthly_edit.xlsx'
elec_mo_sheets = pd.ExcelFile(xlsx_file).sheet_names
elec_mo_sheets
# df1 = pd.read_excel(xls, 'Sheet1')
# df2 = pd.read_excel(xls, 'Sheet2')

['2001-2006_FINAL',
 '2007-2011_FINAL',
 '2012_Final',
 '2013_Final',
 '2014_Final',
 '2015_Final',
 '2016_Final',
 '2017_Final',
 '2018_Final',
 '2019_Final',
 '2020_Preliminary',
 '2021_Preliminary']

In [7]:
elec_mo_2001_2006 = pd.read_excel(xlsx_file,sheet_name=0)
elec_mo_2001_2006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56536 entries, 0 to 56535
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                56536 non-null  int64
 1   MONTH                               56536 non-null  int64
 2   STATE                               56536 non-null  object
 3   TYPE OF PRODUCER                    56536 non-null  object
 4   ENERGY SOURCE              (UNITS)  56536 non-null  object
 5   CONSUMPTION                         56536 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.6+ MB

In [8]:
elec_mo_2001_2006['STATE'].value_counts()

US-TOTAL    1955
CA          1704
PA          1562
MI          1485
IL          1464
IN          1452
OH          1404
NC          1402
TX          1391
NJ          1391
FL          1344
VA          1342
NY          1320
LA          1272
MD          1254
WA          1253
UT          1225
WI          1224
SC          1188
MA          1178
OK          1172
CT          1164
WV          1155
ME          1140
AL          1128
MN          1127
CO          1120
DE          1104
MO          1067
GA          1032
IA          1032
TN          1008
MT           994
MS           993
AZ           963
NV           954
AR           926
OR           912
HI           900
NE           868
NM           864
WY           849
KY           832
AK           828
NH           819
ND           790
RI           720
ID           692
KS           685
SD           432
VT           312
DC           144
Name: STATE, dtype: int64

In [9]:
elec_mo_2007_2011 = pd.read_excel(xlsx_file,sheet_name=1)
elec_mo_2007_2011.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47462 entries, 0 to 47461
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                47462 non-null  int64
 1   MONTH                               47462 non-null  int64
 2   STATE                               47462 non-null  object
 3   TYPE OF PRODUCER                    47462 non-null  object
 4   ENERGY SOURCE              (UNITS)  47462 non-null  object
 5   CONSUMPTION                         47462 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.2+ MB

## Clean up 2001-2006
[(back to top)](#EDA-and-Cleaning)

In [10]:
elec_mo_2001_2006 = elec_mo_2001_2006[elec_mo_2001_2006['TYPE OF PRODUCER'] == 'Total Electric Power Industry']

In [11]:
elec_mo_2001_2006['ENERGY SOURCE              (UNITS)'].value_counts()

Petroleum (Barrels)          3744
Natural Gas (Mcf)            3636
Coal (Short Tons)            3528
Other Gases (Billion BTU)    2273
Geothermal (Billion BTU)      360
Name: ENERGY SOURCE              (UNITS), dtype: int64

In [33]:
elec_mo_2001_2006['date'] = pd.to_datetime(elec_mo_2001_2006['YEAR'].astype(str) + '/' + elec_mo_2001_2006['MONTH'].astype(str) + '/01')
elec_mo_2001_2006.set_index('date', inplace=True)
elec_mo_2001_2006.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13541 entries, 2001-01-01 to 2006-12-01
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                13541 non-null  int64
 1   MONTH                               13541 non-null  int64
 2   STATE                               13541 non-null  object
 3   TYPE OF PRODUCER                    13541 non-null  object
 4   ENERGY SOURCE              (UNITS)  13541 non-null  object
 5   CONSUMPTION                         13541 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 740.5+ KB

In [35]:
elec_mo_2001_2006.drop(columns=['YEAR', 'MONTH'], inplace=True)

In [38]:
elec_mo_2001_2006_consumption = elec_mo_2001_2006.groupby(['STATE', elec_mo_2001_2006.index])[['CONSUMPTION']].sum()

In [42]:
elec_mo_2001_2006_consumption.reset_index(inplace=True)

In [43]:
elec_mo_2001_2006_consumption.set_index('date', inplace=True)
elec_mo_2001_2006_consumption

           STATE  CONSUMPTION
date
2001-01-01    AK   4113880.00
2001-02-01    AK   3909862.00
2001-03-01    AK   4131398.00
2001-04-01    AK   3302305.00
2001-05-01    AK   3174168.00
...          ...          ...
2006-08-01    WY   2717254.53
2006-09-01    WY   2530281.62
2006-10-01    WY   2554019.25
2006-11-01    WY   2598159.65
2006-12-01    WY   2585697.78

[3744 rows x 2 columns]

## Clean up 2007-2011
[(back to top)](#EDA-and-Cleaning)

In [44]:
elec_mo_2007_2011 = elec_mo_2007_2011[elec_mo_2007_2011['TYPE OF PRODUCER'] == 'Total Electric Power Industry']

In [45]:
elec_mo_2007_2011['date'] = pd.to_datetime(elec_mo_2007_2011['YEAR'].astype(str) + '/' + elec_mo_2007_2011['MONTH'].astype(str) + '/01')
elec_mo_2007_2011.set_index('date', inplace=True)
elec_mo_2007_2011.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11317 entries, 2007-01-01 to 2011-12-01
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   YEAR                                11317 non-null  int64
 1   MONTH                               11317 non-null  int64
 2   STATE                               11317 non-null  object
 3   TYPE OF PRODUCER                    11317 non-null  object
 4   ENERGY SOURCE              (UNITS)  11317 non-null  object
 5   CONSUMPTION                         11317 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 618.9+ KB

In [46]:
elec_mo_2007_2011.drop(columns=['YEAR', 'MONTH'], inplace=True)

In [47]:
elec_mo_2007_2011_consumption = elec_mo_2007_2011.groupby(['STATE', elec_mo_2007_2011.index])[['CONSUMPTION']].sum()

In [48]:
elec_mo_2007_2011_consumption.reset_index(inplace=True)

In [49]:
elec_mo_2007_2011_consumption.set_index('date', inplace=True)
elec_mo_2007_2011_consumption

           STATE  CONSUMPTION
date
2007-01-01    AK   4105804.00
2007-02-01    AK   3464929.00
2007-03-01    AK   3877357.00
2007-04-01    AK   3441011.00
2007-05-01    AK   3333078.00
...          ...          ...
2011-08-01    WY   2384723.04
2011-09-01    WY   2428088.29
2011-10-01    WY   2285695.77
2011-11-01    WY   2497483.94
2011-12-01    WY   2907798.16

[3120 rows x 2 columns]

In [51]:
elec_mo_2001_2011_consumption = pd.concat([elec_mo_2001_2006_consumption, elec_mo_2007_2011_consumption])
elec_mo_2001_2011_consumption

           STATE  CONSUMPTION
date
2001-01-01    AK   4113880.00
2001-02-01    AK   3909862.00
2001-03-01    AK   4131398.00
2001-04-01    AK   3302305.00
2001-05-01    AK   3174168.00
...          ...          ...
2011-08-01    WY   2384723.04
2011-09-01    WY   2428088.29
2011-10-01    WY   2285695.77
2011-11-01    WY   2497483.94
2011-12-01    WY   2907798.16

[6864 rows x 2 columns]

## Export Clean Data
[(back to top)](#EDA-and-Cleaning)

In [52]:
elec_mo_2001_2011_consumption.to_csv('../data/elec_mo_2001_2011_consumption.csv')